body {
    background-color: rgb(84, 84, 84);
    color: rgb(213, 213, 213);
}

header, main, nav, footer, section {
    text-align: center;
}

section {
    background-color: rgb(84, 84, 84);
    color: rgb(213, 213, 213);
    margin: 0 auto; /* This centers the section */
    padding: 20px; /* Add some padding for better spacing */
    max-width: 800px; /* Optional: limit width for better readability */
}

nav a { /* links within "nav" container */
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none; /* removes underline*/
    color: rgb(172, 255, 229); /* by default, links are blue*/
}

nav a:hover { /* pseudo class for when the mouse is over link */
    font-size: 1.8em; /* Keep the same size on hover */
    text-decoration: none;
    color: rgb(255, 109, 109);
}

.PL-img {
    box-shadow: 4px 4px 10px rgb(0, 0, 0);
}